<div>
  <h2>Search by Country Name</h2>
  <form [formGroup]="searchForm">
  <input #term type="text" (keyup)="search(term.value)" formControlName="searchinput" placeholder="Search country here" [value]="this.searchitem">
</form>
  <hr>
  <div *ngIf="searchedItemList?.length > 0">
    <h2>Searched item list</h2>
    <li *ngFor="let result of searchedItemList; let i = index">
    {{i+1}} . {{result.name}}
    </li>
    <h2>No of searched item list = {{searchedItemList.length}}</h2>
    <table style="width:100%" *ngFor="let result of searchedItemList; let j = index">
      <tr>
        <th *ngIf="j === 0">Searched item</th>
        <th *ngIf="j === 0">Location</th>
      </tr>
      <tr>
        <td>{{result.name}}</td>
        <td>{{result.location}}</td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
  <div class="chartjs-container" *ngIf="searchedItemList?.length > 0">
    <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
    </canvas>
</div>

</div>

<router-outlet></router-outlet>
