<div>
  <h3 class="stats">Stats</h3>
  <hr>
  <textarea id="textarea" name="coutry" rows="4" cols="90" [value]="this.searchitem">
  </textarea>
  <form [formGroup]="searchForm">
    <input #term type="text" formControlName="searchinput" placeholder="Search..">
    <button type="submit" (click)="search(term.value)">Go!</button>
  </form>
  <div *ngIf="searchedItemList?.length > 0">
    <div>
      <div class="container row rowmargin">
        <div class="col-sm leftCol">
          <h6>Searched Countries</h6>
          <li *ngFor="let result of searchedItemList; let i = index">
            {{i+1}} . {{result.name}}
          </li>
        </div>
        <div class="col-sm">
          <h6>Countries Chart stats</h6>
          <div class="chartjs-container" *ngIf="searchedItemList?.length > 0">
            <canvas style="height:10vh; width:10vw" baseChart [data]="pieChartData" [labels]="pieChartLabels"
              [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
              [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
      <hr>
      <h6 class="nistNo">No of searched item = {{searchedItemList.length}}</h6>
      <table style="width:100%" *ngFor="let result of searchedItemList; let j = index" class="container">
        <tr>
          <th *ngIf="j === 0">Searched item</th>
          <th *ngIf="j === 0">Location</th>
        </tr>
        <tr>
          <td>{{result.name}}</td>
          <td>{{result.location}}</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </div>

  <!-- <table *ngFor="let item of dataList; let i = index">
    <tr *ngIf="i === 0">
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.gender}}</td>
      <td [ngClass]="item.status === 'Active' ? 'greenBg' : ''">{{item.status}}</td>
    </tr>
  </table> -->
   <header style=" background-color: blue;">
     <nav>
       <li class="headerClass">Angular</li>
       <li class="headerClass">Feature</li>
       <li class="headerClass">Docs</li>
       <li class="headerClass">Resources</li>
       <li class="headerClass">Events</li>
       <li class="headerClass">Blogs</li>
       <input type="text" class="searchInput" placeholder="Search" />
     </nav>
   </header>
  <router-outlet></router-outlet>
