.stats{
  text-align: center;
}
textarea{
  margin-left: 20px;
}
input{
  width: 30%;
  margin-left: 20px;
}
form{
  margin-top: 32px;
}
button{
  background: transparent;
  border: 1px solid black;
  width: 5vw;
}
.rowmargin{
  margin-top: 32px;
}
.leftCol{
  border-right: 1px solid #c6c3c3;
}
.nistNo{
  margin-left: 20px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 60%;
}
table{
  padding-bottom: 20px;
}
#chartjs-container{
  display: block;
  width: 20px; height: 20px
}
h3{
  margin-left: 20px;
}

li{
  background: #dedce3;
}
.greenBg{
  background-color: green;
}

.headerClass{
  display: inline-block; padding: 20px; color: white; background-color: blue;
}
.searchInput{
  border-radius: 15px;
  max-width: fit-content;
  float: right;
      margin-top: 16px;
}
